<div class="modal" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">×</button>
        <h4 class="modal-title" translate="">New Folder</h4>
      </div>
      <div class="modal-body">

        <h4 translate="">What is the new folder name?</h4><br>
        <input type="text" autofocus="" ng-model="NewFolderName" placeholder="New folder name" ng-enter="CreateNewFolder(NewFolderName)" >
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()" translate="">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="CreateNewFolder(NewFolderName)" translate="">Save changes</button>
      </div>
    </div>
  </div>
</div>